{{ partial "header.html" . }}
{{ partial "navbar.html" . }}
<div class="container">

  <h1>Página não encontrada</h1>
  <p>Talvez você está procurando alguma das páginas abaixo? &#x1F601; &#x1F648;</p>

    <h2>Início</h2>
  <!--{{(where .Data.Pages "Section" "=" "publication") }} -->
{{ range last 1 (where .Data.Pages "Section" "=" "publication") }}
  <ul>
    <li><a href="{{ "/" | relURL }}">{{ .Title }}</a></li>
  </ul>
  {{ end }}
  
  
  <h2>Postagens + Recentes</h2>
  {{ range last 20 (where .Data.Pages "Section" "=" "post") }}
  <ul>
    <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
  </ul>
  {{ end }}


</div>
{{ partial "footer_container.html" . }}
{{ partial "footer.html" . }}
